.project-container {
    margin: 0px 0px;
    padding: 0 5px;
    width: 100%;
    background-color: #fff;
    border-radius: 2px;

    h1 {
        text-align: center
    }


    .btn-wrap {
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width: 600px) {
    .project-container {
        min-width: 300px;
    }
}