.project-container {
    margin: 0px 0px;
    padding: 0 5px;
    width: 100%;
    background-color: #fff;
    border-radius: 2px;

    h1 {
        text-align: center
    }


    .btn-wrap {
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width: 600px) {
    .project-container {
        min-width: 300px;
    }
}

.project-detail-container {
    margin: 0px 0px;
    padding: 100 50px;
    width: 100%;
    background-color: #fff;
    border-radius: 2px;

    h1 {
        text-align: center
    }


    .btn-wrap {
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
    }
}

.title-and-user {
    margin: 10px 10px;
    padding: 50 50px;
    
    .title {
        font-size: 25px;
        font-family:  "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    }
}

