.base-info-container {
    margin: 20px 20px;
    padding: 0 40px 0 40px;
    height: 700px;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;

    h1 {
        text-align: center
    }

    .ant-form-item {
        margin-bottom: 5px;
    }

    .save-button {
        position: absolute;
        left: 20px;
    }
    .next-page-button {
        position: absolute;
        right: 20px;
    }
}

@media screen and (max-width: 500px) {
    .base-info-container {
        min-width: 300px;
    }
}
