.base-info-container {
    margin: 20px 20px;
<<<<<<< HEAD
    padding: 0 40px 0 40px;
    height: 700px;
=======
    padding: 0 40px;
>>>>>>> origin/aferica
    width: 100%;
    background-color: #fff;
    border-radius: 4px;

    h1 {
        text-align: center
    }

<<<<<<< HEAD
    .ant-form-item {
        margin-bottom: 5px;
    }

    .save-button {

    }
    .next-page-button {
        float: right;
=======

    .btn-wrap {
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
>>>>>>> origin/aferica
    }
}

@media screen and (max-width: 500px) {
    .base-info-container {
        min-width: 300px;
    }
}
