.project-container {
    margin: 20px 20px;
    padding: 0 40px 0 40px;
    height: auto;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    h1 {
        text-align: center
    }

    .ant-form-item {
        margin-bottom: 0px;
    }



    .new-project-btn {
        width: 100%;
    }

}

@media screen and (max-width: 500px) {
    .base-info-container {
        min-width: 300px;
    }
}
