
    .container {
        background:rgba(249,249,249,0.90);
        border:1px solid #eeeeee;
        width:210px;
        height:140px;
    }

    .small-container {
        height:115px;
        width: 210px;
    }

    .picture {
        position: relative;
        float:left;
        background:#eeeeee;
        width:150px;
        height:94px;
        margin: 10px 16px 10px 15px;
    }

    .icon {
        float:right;
        width: 14px;
        margin: 15px 10px 0 0;
    }

    #favourites {
        display: block;
        margin: 0 1px 10px 1px;
    }

    #edit {
        display: block;
        margin: 0 1px 11px 1px;
    }

    p {
        font-family:PingFangSC-Regular;
        font-size:14px;
        color:#333333;
        text-align:center;
    }
