.user-auth-container{
    background-color: #fff;
    width: 400px;
    margin: 0px auto;
    top: 0;
 
    h1 {
        margin: auto;
        // padding: .67em 0;
        text-align: center;
    }

    .auth-container {
        margin: 40px 40px 0px 40px;
        padding: 40px 40px 20px 40px;
        border-bottom: 1px #ddd solid
    }
}