 .hope-page {
     background-image: url("http://opbzdyf3b.bkt.clouddn.com/jesus-kiteque-224069%20%281%29.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: bottom;
     //   background-color: #3D4E6A;
     text-align: center;
     height: 550px;
     position: relative;
 }
 
 .inner-mask {
     height: 100%;
     width: 100%;
     background: rgb(74, 84, 96);
     opacity: 0.3;
 }
 
 .hope-page p {
     position: absolute;
     font-size: bold;
     width: 60%;
     margin: 0 auto;
     top: 20%;
     left: 20%;
     font-size: 3em;
     color: white;
 }
 
 .hope-page-button {
     height: 40px;
     width: 30%;
     position: absolute;
     font-size: 20px;
     left: 32%; //由button大小计算确定
     top: 80%;
     border-radius: 4px;
     vertical-align: middle;
     padding: 5px;
 }
 
 .chance-page {
     // height:600px;
     background-color: white;
     position: relative;
     border: 1px;
     width: 100%;
 }
 
 .project-content {
     width: 50%;
     display: inline-block;
 }
 
 .chance-icon {
     font-size: 4em;
     width: 35%;
     margin: 0 auto;
     margin-top: 20px;
     margin-bottom: 20px;
     cursor: pointer;
 }
 
 .project {
     font-size: 3em;
     width: 28%;
     margin: 0 auto;
     margin-top: 20px;
     margin-bottom: 20px;
     cursor: pointer;
 }
 
 .project:hover {
     color: rgb(16, 142, 233);
     font-size: 3.5em;
 }
 
 .company-practice {
     display: inline-block;
     color: RGB(234, 67, 53);
     width: 50%;
     //position:relative;
 }
 
 .practice-content {
     width: 50%;
     height: 64px;
     font-size: 4em;
     margin: auto;
     //position:absolute;        
     transform: translateX(0%) translateY(-200%);
 }
 
 .practice-content:hover {
     color: rgb(16, 142, 233);
     font-size: 4.5em;
 }
 
 .example-page {
     background-color: rgb(238, 238, 238);
 }
 
 .example-page h1 {
     width: 28%;
     margin: 0 auto;
     margin-top: 20px;
     font-size: 2.5em;
 }
 
 .example-page span {
     display: block;
     width: 15%;
     font-size: 1.5em;
     margin: 0 auto;
     color: rgb(138, 138, 138);
 }
 
 .occupation-page {
     background-color: white;
     //border: 1px;
 }
 
 .table {
     width: 90%;
     margin: 0 auto;
 }
 
 .table td {
     width: 25%;
     height: 300px;
     display: inline-block;
 }
 
 .picture {
     overflow: hidden;
     box-shadow: 0 0 2em lightblue;
     img{
         height:100%;
         width:100%;
     }
 }
 
 .text {
     width: 80%;
     margin: 0 auto;
     padding: 20px;
 }
 
 .story {
     width: 25%;
     margin: 0 auto;
     margin-left: 37%;
     margin-top: 80px;
     margin-bottom: 40px;
 }
 
 .text span {
     font-size: 1.5em;
     width: 100%;
     display: inline-block;
 }
 
 .name {
     text-align: center;
     padding-top: 30px;
     color: black;
 }
 
 .cause {
     padding: 10px;
     text-align: center;
     width: 60%;
     display: block;
     font-size: 2em;
     color: rgb(16, 142, 233);
     margin: 0 auto;
 }
 
 .picture {
     position: relative;
     transition: all 0.5s ease-in 0s;
     //border: 1px solid black;
     //-webkit-transform: scare(1.5);
     //-webkit-transition: width 0.5s;
 }
 
 .picture img:hover {
     transform: scale(1.1);
     transition: all 0.5s ease-in 0s;
 }
 
 .service-wrapper {
     /* Safari */
     display: flex;
     flex-direction: row; //主轴为水平轴
     flex-wrap: wrap; //可以换行
     justify-content: space-between;
     text-align: left;
     width: 80%;
     margin: 0 auto;
 }
 
 .occupation-page {
     h1 {
         color: #666666;
         text-align: center;
         line-height: 80px;
         padding: 0 20px;
     }
 }
 
 .service-block {
     margin-bottom: 60px;
     width: 33.3%;
     height: 80px;
     //overflow: hidden;
 }
 
 .service-block img {
     margin: 20px;
     display: inline-block;
 }
 
 .service-text {
     vertical-align: top;
     width: 60%;
     word-wrap: break-word;
     color: #8A8A8A;
     font-size: 16px;
     display: inline-block;
     margin-top: 20px;
 }
 
 @media screen and (max-width: 500px) {
     .hope-page {
         height: 380px;
         width: 100%;
         background-repeat: no-repeat;
         background-size: cover;
         background-position: bottom;
         text-align: center;
         p {
             font-size: 2em;
             margin: 0 auto;
         }
     }
     .chance-page {
         .chance-icon {
             font-size: 2em;
             width: 70%;
             margin: 0 auto;
             margin-top: 10px;
             margin-bottom: 10px;
             cursor: pointer;
         }
         .project-content {
             width: 50%;
             display: inline-block;
         }
         .company-practice {
             display: inline-block;
             color: RGB(234, 67, 53);
             width: 50%;
             //position:relative;
         }
         .project {
             font-size: 1.5em;
             width: 62%;
             margin: 0 auto;
             margin-top: 10px;
             margin-bottom: 10px;
             cursor: pointer;
         }
         .project:hover {
             color: rgb(16, 142, 233);
             font-size: 2em;
         }
         .practice-content {
             width: 80%;
             height: 64px;
             font-size: 1.8em;
             margin: auto;
             //position:absolute;        
             transform: translateX(0%) translateY(-70%);
         }
     }
     .example-page {
         width:100%;
         h1 {
             width: 80%;
             margin: 0 auto;
             font-size: 2em;
             margin-top: 15px;
         }
         span {
             width: 60%;
             margin: 0 auto;
         }
         .table {
             overflow: hidden;
             td {
                 width: 100%;
                 height: 250px;
                 float: left;
                 //display: inline-block;
             }
             .picture{
                 width:100%;
                 
             }
             .text {
                 .name{
                     width:30%;
                     margin-left:35%;
                 }
                 .cause{
                     width:46%;
                     margin-left:27%;
                 }
                 .sentence{
                     width:80%;
                     margin-left: 10%;
                 }
                 
             }
             .needDo{
                 .text{
                     transform:translateX(0%) translateY(100%);
                 }
                 .picture{
                     transform: translateX(0%) translateY(-100%)
                 }
             }
         }
         .story{
             width:60%;
             margin:0 auto;
             margin-left:20%;
             margin-bottom:20px;
         }
     }
     .occupation-page{
         h1{
             width:80%;
             margin:0 auto;
         }
         .service-wrapper{
     display: flex;
     flex-direction: row; //主轴为水平轴
     flex-wrap: wrap; //可以换行
     justify-content: space-between;
     text-align: left;
     width: 100%;
     margin: 0 auto;
     .service-block{
         width:100%;
         img{
             margin:10px;
         }
     }
         }
     }
 }