.createTeam-container{
    background:#ffffff;
    box-shadow:0 2px 20px 0 #111;
    border-radius:8px;
    width:494px;
    height:220px;
    margin: 0px auto;
    margin-top: 80px;
}
    .header {
        border-radius:8px 8px 0 0;
        height: 56px;
        background-color: #305F61;
    }

    .title {
        width: 417px;
        height: 22px;
        font-family:PingFangSC-Regular;
        font-size:18px;
        color:#ffffff;
        margin-left: 23px;
        line-height: 50px;
         // padding: .67em 0;
    }

    img {
        display: inline;
        margin-right: 21px;
        margin-top: -3px;
        float:right;
    }

    input{
        border:1px solid #999999;
        border-radius:2px;
        width:407px;
        height:28px;
        margin-top:35px;
        margin-left: 26px;
        padding-left: 8px;
    }

    input::-webkit-input-placeholder{
        font-family:PingFangSC-Regular;
        font-size:14px;
        color:#888888;
    }


    button{
        display: block;
        margin: 35px  auto;
        background:#305f61;
        border-radius:2px;
        width:99px;
        height:30px;
        font-family:PingFangSC-Regular;
        font-size:14px;
        color:#ffffff;
        text-align:center;
    }