.manager {
    width: 100%;
    height: 34px;
    display: flex;

    .picture {
        background:#305f61;
        width:34px;
        height:34px;
        border-radius:100%;
    }

    #name {
        font-family:PingFangSC-Regular;
        font-size:14px;
        color:#333333;
        letter-spacing:0;    
        line-height:20px;
        text-align:left;   
        margin: 8px 0px 6px 13px;     
    }
}